<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProTire | Servicii Profesionale de Anvelope și Geometrie</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="page-home">

    <header>
        <a href="/" class="logo">La Ionică</a>
        <nav>
            <a href="#services">Servicii</a>
            <a href="/rezervation">Programare Online</a>
        </nav>
    </header>

    <section class="hero">
        <h1>Servicii Profesionale pentru Anvelope</h1>
        <p>Schimb de anvelope, echilibrare pentru siguranța ta pe drum. Servicii
            rapide, echipamente profesionale și prețuri competente.</p>
        <a href="/rezervation" class="btn">Programează-te Acum</a>
    </section>

    <section id="services" class="services">
        <h2>Serviciile Noastre Profesionale</h2>
        <div class="service-grid">
            <div class="service-card">
                <img src="static/1.png" alt="Schimb Anvelope">
                <h3>Instalare Anvelope</h3>
                <p>Schimburi sezoniere și montare anvelope noi cu echipamente de ultimă generație.</p>
            </div>
            <div class="service-card">
                <img src="static/2.png" alt="Echilibrare">
                <h3>Echilibrare Computerizată</h3>
                <p>Elimină vibrațiile și prelungește durata de viață a anvelopelor cu o echilibrare de precizie.</p>
            </div>
<!--            <div class="service-card">
                <img src="static/3.png" alt="Geometrie">
                <h3>Geometrie Roți</h3>
                <p>Asigură-te că mașina ta rulează drept și previne uzura inegală a anvelopelor.</p>
            </div>
            <div class="service-card">
                <img src="static/4.png" alt="Reparație">
                <h3>Reparație Pană</h3>
                <p>Reparații sigure și rapide pentru pene și tăieturi accidentale în anvelopă.</p>
            </div>
        </div>
-->
    </section>

    <footer>
        <div class="contact-info">
            <p>📍 str.27 Nr.2, Sofronea, România</p>
            <p>📞 0723 305 283 | ✉️ ionica_gr@yahoo.com</p>
            <p>🌐 <a href="https://facebook.com/profile.php?id=61560998346001" target="_blank"
                    style="color: #3498db; text-decoration: none;">Vizitează-ne pe Facebook</a></p>
        </div>
        <p>&copy; 2026 Vulcanizare Sofronea. Toate drepturile rezervate.</p>
    </footer>

</body>

</html>
